/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}

.letter-count-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'roboto';
}

.letter-count-card {
  width: 380px;
}

.img {
  width: 500px;
}

.heading {
  font-size: 50px;
  color: #fff;
  padding-bottom: 8px;
}

.input-box {
  width: 380px;
  height: 35px;
  color: #ffffff;
  background-color: #1d976c;
  border-style: solid;
  border: none;
  outline: none;
  border-width: 1;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 8px;
  font-weight: bold;
}

.count-container {
  background-color: #ffffff;
  color: #1d976c;
  width: 190px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
  font-weight: 600;
  border-radius: 10px;
}

.label {
  color: #ffffff;
  font-size: 10px;
  margin: 10px;
}
